<th:block th:replace="usr/common/head"/>
<head>
    <title>상세보기</title>
    <link rel="stylesheet" href="/resource/css/article.css"/>
    <script>
        const params = {};
        params.id = [[${param.id}]];
        params.memberId = [[${loginedMemberId}]];

        let isAlreadyAddGoodRp = [[${isAlreadyAddGoodRp}]];
        let isAlreadyAddBadRp = [[${isAlreadyAddBadRp}]];

        <!-- 좋아요 싫어요 처리 -->
        function checkRP() {
            if (isAlreadyAddGoodRp) {
                $('#likeButton').toggleClass('btn-outline');
            } else if (isAlreadyAddBadRp) {
                $('#DislikeButton').toggleClass('btn-outline');
            }
        }

        function doGoodReaction(articleId) {
            if (params.memberId === 0) {
                if (confirm('로그인 창으로 이동하시겠습니까?')) {
                    let currentUri = encodeURIComponent(window.location.href);
                    window.location.href = '/usr/member/login?afterLoginUri=' + currentUri;
                }
                return;
            }

            $.ajax({
                url: '/usr/reactionPoint/doGoodReaction',  // URL
                type: 'POST',                                    // HTTP 메서드
                data: {relTypeCode: 'article', relId: articleId},  // 전송할 데이터
                dataType: 'json',                                // 응답 데이터 타입
                success: function (data) {                        // 성공 시 콜백
                    if (data.resultCode.startsWith('S-')) {
                        $('#likeButton').toggleClass('btn-outline');
                        $('#likeCount').text(data.data1);
                        $('.likeCount').text(data.data1);
                    } else {
                        alert(data.msg);
                    }
                },
                error: function () {                              // 오류 발생 시 콜백
                    alert('좋아요 오류 발생');
                }
            });
        }

        function doBadReaction(articleId) {
            if (params.memberId === 0) {
                if (confirm('로그인 창으로 이동하시겠습니까?')) {
                    let currentUri = encodeURIComponent(window.location.href);
                    window.location.href = '/usr/member/login?afterLoginUri=' + currentUri;
                }
                return;
            }

            $.ajax({
                url: '/usr/reactionPoint/doBadReaction',  // URL
                type: 'POST',                                   // HTTP 메서드
                data: {relTypeCode: 'article', relId: articleId},  // 전송할 데이터
                dataType: 'json',                               // 응답 데이터 타입
                success: function (data) {                       // 성공 시 콜백
                    if (data.resultCode.startsWith('S-')) {
                        $('#DislikeButton').toggleClass('btn-outline');
                        $('#DislikeCount').text(data.data2);
                        $('.DislikeCount').text(data.data2);
                    } else {
                        alert(data.msg);
                    }
                },
                error: function () {                             // 오류 발생 시 콜백
                    alert('싫어요 오류 발생');
                }
            });
        }

        $(document).ready(function () {
            checkRP();
        });
    </script>
    <script src="/resource/js/article.js"></script>
</head>
<body>
<div class="title">게시글 목록</div>
<div class="article_body">
    <section class="mt-24 text-xl px-4">
        <div class="mx-auto">
            <!-- 타임리프 사용 -->
            <table class="table" border="1" cellspacing="0" cellpadding="5">
                <tbody>
                <tr>
                    <th>ID</th>
                    <td th:text="${article.id}"></td>
                </tr>
                <tr>
                    <th>Registration Date</th>
                    <td th:text="${article.regDate}"></td>
                </tr>
                <tr>
                    <th>Modified date</th>
                    <td th:text="${article.updateDate}"></td>
                </tr>
                <tr>
                    <th>BoardId</th>
                    <td th:text="${article.boardId}"></td>
                </tr>
                <tr>
                    <th>Writer</th>
                    <td th:text="${article.extra__writer}"></td>
                </tr>
                <tr>
                    <th>Like</th>
                    <td id="likeCount" th:text="${article.goodReactionPoint}"></td>
                </tr>
                <tr>
                    <th>LIKE</th>
                    <td>
                        <button id="likeButton"
                                th:text="|👍 LIKE|">
                        </button>
                    </td>
                </tr>

                <tr>
                    <th>Views</th>
                    <td><span class="article-detail__hit-count" th:text="${article.hitCount}"></span></td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td th:text="${article.title}"></td>
                </tr>
                <tr>
                    <th>Body</th>
                    <td>
                        <div th:utext="${article.body}"></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

    <!-- 댓글 리스트 -->
    <section class="mt-24 text-xl px-4">
        <div th:if="${isLogined}">
            <form th:action="@{../reply/doWrite}" method="POST" onsubmit="ReplyWrite__submit(this); return false;">
                <table class="table" border="1" cellspacing="0" cellpadding="5">
                    <input type="hidden" name="relTypeCode" value="article"/>
                    <input type="hidden" name="relId" th:value="${article.id}"/>
                    <tr>
                        <th>댓글 내용 입력</th>
                        <td>
                            <textarea name="body" class="input input-bordered input-sm w-full max-w-xs"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-center">
                            <button class="btn btn-outline">작성</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div th:if="${!isLogined}">
            댓글 작성을 위해 <a class="btn btn-outline btn-primary" th:href="${rq.loginUri}">로그인</a>이 필요합니다
        </div>

        <!-- 댓글 리스트 -->
        <div class="mx-auto">
            <table class="table" border="1" cellspacing="0" cellpadding="5">
                <thead>
                <tr>
                    <th>작성날짜</th>
                    <th>수정날짜</th>
                    <th>내용</th>
                    <th>작성자</th>
                    <th>수정</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="reply : ${replies}">
                    <td th:text="${reply.regDate}"></td>
                    <td th:text="${reply.updateDate}"></td>
                    <td>
                        <div id="reply-${reply.id}" th:text="${reply.body}"></div>
                        <form id="modify-form-${reply.id}" style="display:none;"
                              onsubmit="doModifyReply(${reply.id}); return false;">
                            <input type="text" name="reply-text-${reply.id}" th:value="${reply.body}"/>
                        </form>
                    </td>
                    <td th:text="${reply.extra__writer}"></td>
                    <td>
                        <button id="modify-btn-${reply.id}" class="btn btn-outline"
                                onclick="toggleModifybtn(${reply.id})">
                            수정
                        </button>
                        <button id="save-btn-${reply.id}" class="btn btn-outline" style="display:none;"
                                onclick="doModifyReply(${reply.id})">저장
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
</body>
