<th:block th:replace="usr/common/head"/>
<head>
    <title>글 목록</title>
    <link rel="stylesheet" href="/resource/css/article2.css"/>
</head>
<body>
<div class="list_head">
    <a class="list_head_a tw-relative" href="">
        <img class="list_head_a_img" src="https://github.com/user-attachments/assets/9c8273b2-38ac-4559-ae88-06d43f5a7517" alt="쇼핑 사진">
        <div class="tw-absolute list_head_a_title">쇼핑</div>
        <div class="tw-absolute list_head_a_body">자유게시판, 질문 게시판을 통해 반려견 관련 정보를 공유하고, 다양한 경험을 나눠보세요.</div>
    </a>
    <a class="list_head_a tw-relative" href="">
        <img class="list_head_a_img" src="https://github.com/user-attachments/assets/19a18684-da40-4693-a6db-81039eebb6e2" alt="산책 사진">
        <div class="tw-absolute list_head_a_title">산책</div>
        <div class="tw-absolute list_head_a_body">자유게시판, 질문 게시판을 통해 반려견 관련 정보를 공유하고, 다양한 경험을 나눠보세요.</div>
    </a>
    <a class="list_head_a tw-relative" href="">
        <img class="list_head_a_img" src="https://github.com/user-attachments/assets/8c7de13c-87f7-470f-a64e-17291ead7104" alt="일정 사진">
        <div class="tw-absolute list_head_a_title">일정</div>
        <div class="tw-absolute list_head_a_body">자유게시판, 질문 게시판을 통해 반려견 관련 정보를 공유하고, 다양한 경험을 나눠보세요.</div>
    </a>
</div>
<div class="list_body">
    <div class="list_sidebar">
        <div class="list_profile">
            <div class="" th:if="${member == null}">
                <a class="list_profile_login button" href="../member/login" th:text="로그인"></a>
            </div>
            <div class="tw-flex tw-gap-[10px]" th:if="${member != null}">
                <img class="list_profile_dogPoto" th:if="${member.extra__dogPoto != null}"
                     th:src="@{${member.extra__dogPoto}}" alt="Profile Image"/>
                <img class="list_profile_dogPoto" th:if="${member.extra__dogPoto == null}"
                     th:src="@{/resource/photo/default.png}" alt="Default Profile Image"/>
                <div class="tw-flex tw-flex-col tw-items-center tw-justify-center">
                    <div class="list_profile_nickname" th:text="${member.nickname}"></div>
                    <a class="link" href="">내가 작성한 글 보기</a>
                </div>
            </div>
        </div>
        <div th:class="${boardId == 0 ? 'list_board button' : 'list_board'}">
            <a class="a" href="../article/list?boardId=0&page=1">전체 게시판</a>
        </div>
        <div th:class="${boardId == 1 ? 'list_board button' : 'list_board'}">
            <a class="a" href="../article/list?boardId=1&page=1">공지사항</a>
        </div>
        <div th:class="${boardId == 2 ? 'list_board button' : 'list_board'}">
            <a class="a" href="../article/list?boardId=2&page=1">자유게시판</a>
        </div>
        <div th:class="${boardId == 3 ? 'list_board button' : 'list_board'}">
            <a class="a" href="../article/list?boardId=3&page=1">Q & A</a>
        </div>
    </div>
    <div class="list_main">
        <div th:if="${boardId == 0}" class="tw-flex tw-flex-col tw-pl-[80px] tw-pb-[20px]">
            <div class="tw-font-bold tw-text-2xl tw-pb-[20px]">전체게시판</div>
            <div>모든 게시글을 한눈에 확인할 수 있는 공간입니다. 최신 소식과 다양한 주제를 만나보세요!</div>
        </div>
        <div th:if="${boardId == 1}" class="tw-flex tw-flex-col tw-pl-[80px] tw-pb-[20px]">
            <div class="tw-font-bold tw-text-2xl tw-pb-[20px]">공지사항</div>
            <div>중요한 소식과 공지사항을 확인하세요. 업데이트와 이벤트 정보가 여기에 게시됩니다.</div>
        </div>
        <div th:if="${boardId == 2}" class="tw-flex tw-flex-col tw-pl-[80px] tw-pb-[20px]">
            <div class="tw-font-bold tw-text-2xl tw-pb-[20px]">자유게시판</div>
            <div>우리 반려견의 일상과 고민을 나누는 공간, 자유롭게 소통하며 반려 생활을 함께 즐겨보세요!</div>
        </div>
        <div th:if="${boardId == 3}" class="tw-flex tw-flex-col tw-pl-[80px] tw-pb-[20px]">
            <div class="tw-font-bold tw-text-2xl tw-pb-[20px]">Q & A</div>
            <div>궁금한 점을 질문하고 답변을 공유하는 공간입니다. 서로 도와가며 지식을 나눠보세요!</div>
        </div>
        <form th:action="@{../article/list}" class="tw-pl-[80px]">
            <div class="tw-flex tw-justify-between tw-items-center">
                <div class="tw-flex tw-gap-2">
                    <input type="hidden" name="boardId" th:value="${param.boardId != null ? param.boardId : 0}"/>
                    <select class="tw-h-[40px]" name="searchKeywordTypeCode">
                        <option th:value="${param.searchKeywordTypeCode != null ? param.searchKeywordTypeCode : '전체'}"
                                th:text="${param.searchKeywordTypeCode != null ? param.searchKeywordTypeCode : '전체'}"></option>
                        <option value="전체">전체</option>
                        <option value="제목">제목</option>
                        <option value="내용">내용</option>
                        <option value="작성자">작성자</option>
                    </select>
                    <label class="tw-flex tw-items-center tw-gap-2">
                        <input class="tw-pl-2" type="text" placeholder="검색어를 입력해주세요" name="searchKeyword"
                               th:value="${param.searchKeyword}"
                               style="height: 40px;"/>
                        <button type="submit" style="width: 30px; height: 30px;">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                 class="h-4 w-4 opacity-70">
                                <path fill-rule="evenodd"
                                      d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                                      clip-rule="evenodd"/>
                            </svg>
                        </button>
                    </label>
                </div>

                <div class="tw-p-2" th:with="paginationLen=3,
      startPage=${page - paginationLen >= 1 ? page - paginationLen : 1},
      endPage=${page + paginationLen <= pagesCount ? page + paginationLen : pagesCount},
      baseUri='?boardId=' + (${param.boardId != null ? param.boardId : 0})
              + '&searchKeywordTypeCode=' + (${param.searchKeywordTypeCode != null ? param.searchKeywordTypeCode : '전체'})
              + '&searchKeyword=' + (${param.searchKeyword != null ? param.searchKeyword : ''})"
                     th:if="${articlesCount != 0}"
                     style="display: flex; justify-content: center; align-items: center;">

                    <!-- 처음 페이지로 이동 버튼 -->
                    <div th:if="${startPage > 1}">
                        <a class="tw-text-[30px] tw-pl-[10px] tw-pr-[10px]" th:href="@{${baseUri} + '&page=1'}">1</a>
                    </div>
                    <div th:if="${startPage > 2}">
                        <button class="tw-text-[30px] tw-pl-[10px] tw-pr-[10px]">...</button>
                    </div>

                    <!-- 페이지 번호 반복 출력 -->
                    <div th:each="i : ${#numbers.sequence(startPage, endPage)}">
                        <a class="tw-text-[30px] tw-pl-[10px] tw-pr-[10px]"
                           th:classappend="${page == i ? 'tw-bg-white tw-rounded-full' : ''}"
                           th:href="@{${baseUri} + '&page=' + ${i}}" th:text="${i}"></a>
                    </div>

                    <!-- 마지막 페이지로 이동 버튼 -->
                    <div th:if="${endPage < pagesCount - 1}">
                        <button class="tw-text-[30px] tw-pl-[10px] tw-pr-[10px]">...</button>
                    </div>
                    <div th:if="${endPage < pagesCount && pagesCount != 0}">
                        <a class="tw-text-[30px] tw-pl-[10px] tw-pr-[10px]"
                           th:href="@{${baseUri} + '&page=' + ${pagesCount}}"
                           th:text="${pagesCount}"></a>
                    </div>
                </div>

                <a class="link" th:href="@{../article/write}">작성하기</a>
            </div>
        </form>
        <div class="tw-p-10">
            <!-- 게시글 목록이 있는 경우 -->
            <div class="tw-flex tw-gap-5 tw-p-2" th:each="article : ${articles}" th:if="${articles != null}">
                <img class="list_main_dogPoto" th:if="${article.extra__dogPoto != null}"
                     th:src="@{${article.extra__dogPoto}}" alt="Profile Image"/>
                <img class="list_main_dogPoto" th:if="${article.extra__dogPoto == null}"
                     th:src="@{/resource/photo/default.png}" alt="Default Profile Image"/>
                <a class="list_main_body link" th:href="@{'../article/detail?id=' + ${article.id}}">
                    <div>
                        <span class="tw-text-3xl tw-hover:underline" th:text="${#strings.abbreviate(article.title,30)}"></span>
                        <span th:text="' [ ' + ${article.extra__repliesCount} + ' ]'"
                              th:if="${article.extra__repliesCount} > 0"
                              style="color: red; font-weight: bold;"></span>
                    </div>
                    <div>
                        <span class="tw-text-2xl" th:text="${#strings.abbreviate(article.body,30)}"></span>
                    </div>
                </a>
                <div class="list_main_poot">
                    <img class="list_main_poot_img" th:if="${article.poto != null}" th:src="${article.poto}" alt="image" contenteditable="false">
                </div>
            </div>

            <!-- 게시글이 없는 경우 -->
            <div th:if="${articles.size() == 0}">
                <div style="text-align: center;">게시글이 없습니다</td>
                </div>
            </div>
        </div>
    </div>
</div>
</body>