<body>
<div class="title">게시글 목록</div>
<div class="article_body">
    <div th:if="${member != null}">
        <a class="article_write" th:href="|@{../article/modify?id=}${article.id}|"
           th:if="${member.id == article.memberId}">수정</a>
        <a class="article_write" th:href="|@{../article/doDelete?id=}${article.id}|"
           th:if="${member.id == article.memberId}">삭제</a>
    </div>
    <section class="mt-24 text-xl px-4">
        <div class="mx-auto">
            <table class="table" border="1" cellspacing="0" cellpadding="5">
                <tbody>
                <tr>
                    <th>ID</th>
                    <td th:text="${article.id}"></td>
                </tr>
                <tr>
                    <th>Registration Date</th>
                    <td th:text="${article.regDate}"></td>
                </tr>
                <tr>
                    <th>Modified date</th>
                    <td th:text="${article.updateDate}"></td>
                </tr>
                <tr>
                    <th>BoardId</th>
                    <td th:text="${article.boardId}"></td>
                </tr>
                <tr>
                    <th>Writer</th>
                    <td th:text="${article.extra__writer}"></td>
                </tr>
                <tr>
                    <th>Like</th>
                    <td id="likeCount" th:text="${article.goodReactionPoint}"></td>
                </tr>
                <tr>
                    <th>LIKE</th>
                    <td>
                        <button th:text="추천" th:onclick="'doGoodReaction(\'article\', ' + ${article.id} + ')'">
                        </button>
                    </td>
                </tr>
                <tr>
                    <th>Views</th>
                    <td><span class="article-detail__hit-count" th:text="${article.hitCount}"></span></td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td th:text="${article.title}"></td>
                </tr>
                <tr>
                    <th>Body</th>
                    <td>
                        <div th:utext="${article.body}"></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

    <!-- 댓글 리스트 -->
    <section class="mt-24 text-xl px-4">
        <div th:if="${isLogined}">
            <form th:action="@{../reply/doWrite}" method="POST" onsubmit="ReplyWrite__submit(this); return false;">
                <table class="table" border="1" cellspacing="0" cellpadding="5">
                    <input type="hidden" name="relTypeCode" value="article"/>
                    <input type="hidden" name="relId" th:value="${article.id}"/>
                    <tr>
                        <th>댓글 내용 입력</th>
                        <td>
                            <textarea name="body" class="input input-bordered input-sm w-full max-w-xs"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-center">
                            <button class="btn btn-outline">작성</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div th:if="${!isLogined}">
            댓글 작성을 위해 <a class="btn btn-outline btn-primary" th:href="${rq.loginUri}">로그인</a>이 필요합니다
        </div>

        <!-- 댓글 리스트 -->
        <div class="mx-auto">
            <table class="table" border="1" cellspacing="0" cellpadding="5">
                <thead>
                <tr>
                    <th>작성날짜</th>
                    <th>수정날짜</th>
                    <th>내용</th>
                    <th>작성자</th>
                    <th>수정</th>
                    <th>삭제</th>
                    <th>추천수</th>
                    <th>추천</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="reply : ${replies}">
                    <td th:text="${reply.regDate}"></td>
                    <td th:text="${reply.updateDate}"></td>
                    <td>
                        <div th:id="'reply-' + ${reply.id}" th:text="${reply.body}"></div>
                        <form th:id="'modify-form-' + ${reply.id}" style="display:none;"
                              onsubmit="doModifyReply(${reply.id}); return false;">
                            <input type="text" th:name="'reply-text-' + ${reply.id}" th:value="${reply.body}"/>
                        </form>
                    </td>
                    <td th:text="${reply.extra__writer}"></td>
                    <td>
                        <button th:id="'modify-btn-' + ${reply.id}" class="btn btn-outline"
                                th:text="'수정'"
                                th:onclick="'toggleModifybtn(' + ${reply.id} + ')'"></button>
                        <input type="hidden" th:name="'reply-text-'+${reply.id}" th:value="${reply.body}"/>
                        <button th:id="'save-btn-' + ${reply.id}" class="btn btn-outline" style="display:none;"
                                th:text="'저장'" type="button"
                                th:onclick="'doModifyReply(' + ${reply.id} + ')'"></button>

                    </td>
                    <td>
                        <button th:text="삭제" th:onclick="'doDeleteReply(' + ${reply.id} + ')'">
                        </button>
                    </td>
                    <td th:id="'replylikeCount' + ${reply.id}" th:text="${reply.goodReactionPoint}"></td>
                    <td>
                        <button th:text="추천" th:onclick="'doGoodReaction(\'reply\', ' + ${reply.id} + ')'">
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
</body>
