<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main</title>
    <link rel="stylesheet" href="/resource/css/main3.css"/>
</head>
<body>
<section id="section2" class="content tw-w-full tw-h-screen tw-bg-[#FDEDD0] tw-flex tw-items-center tw-justify-center">
    <div class="tw-text-center">
        <h2 class="tw-text-4xl tw-font-bold tw-text-gray-700">반려견 훈련 정보</h2>
        <p class="tw-text-xl tw-mt-4">반려견 훈련에 필요한 다양한 정보와 팁을 제공합니다.</p>
    </div>
</section>
</body>
</html>